table td {
  border: 1px solid grey;
  width: 100px;
  height: 100px;
}

.container {
  flex-direction: column;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  text-align: center;
  font-size: 30px;
}
